<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="addClient">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Añadir</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="deleteClient">
      <ion-icon name="close-circle"></ion-icon>
      <ion-label>Eliminar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="updateClient">
      <ion-icon name="send"></ion-icon>
      <ion-label>Actualizar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="searchClient">
      <ion-icon name="logo-buffer"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
